<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>233301612601-8o059bea1n66riggdut8e2anppt6bdk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233301612601-8o059bea1n66riggdut8e2anppt6bdk4</string>
	<key>API_KEY</key>
	<string>AIzaSyCWO1vOyrkiLGqccT7pwOMCuiV5pmQ2Qb0</string>
	<key>GCM_SENDER_ID</key>
	<string>233301612601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.iMonoCommute</string>
	<key>PROJECT_ID</key>
	<string>imonocommute</string>
	<key>STORAGE_BUCKET</key>
	<string>imonocommute.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:233301612601:ios:4a76119e25fbe571</string>
	<key>DATABASE_URL</key>
	<string>https://imonocommute.firebaseio.com</string>
</dict>
</plist>